@charset "utf-8";
 
* {
	margin: 0;
	padding: 0;
} 

body {
	background-color: antiquewhite;
} 

.container {
	background-color: white;
	position: absolute ;
	top: 500px;
	left: 1000px;
	height: 500px;
	width: 800px;
	border-radius: 10px;
	padding: 0px;
}

.elements {
	height: 500px;
	display: flex;
	flex-wrap:wrap;
	flex-flow: row wrap;
	flex-direction: row;
}

.element-top {
	height: 250px;
	width: 800px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.element-left {
	height: 250px;
	width: 400px;
	background-color: #2BB3B1;
	border-bottom-left-radius: 10px
}

.element-right {
	height: 250px;
	width: 400px;
	background-color: #4ABEBD;
	border-bottom-right-radius: 10px;
}